.mp-logo{
    width: 7rem;
    height: 5rem;
    margin-right: 3rem;
}

nav{
    margin: 0;
    padding: 0 70px;
}

.nav-icon{
    font-size: 1.2rem;
    color: dimgray;
    margin-right: 2.2rem;
}

.nav-link{
    color: dimgray;
}